{% extends 'base.html' %}

{% block content %}


<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <a class="nav-link" href="{% url 'sign_in' %}">Features</a>
          <a class="nav-link" href="{% url 'register' %}">Pricing</a>
        </div>
      </div>
    </div>
</nav>

<form action="sign_in" method="post">
    {% csrf_token %}
    <div class="mb-3">
        Full Name: <input type="text" name="name">
    </div>
    <div class="mb-3">
        Email: <input type="email" name="email">
    </div>
    <div class="mb-3">
        New Password: <input type="password" name="password">
    </div>
    
    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}